<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.zkyong.transaction.mapper.User2Mapper">
    <!-- 增加 -->
    <insert id="insert">
        insert into user2(id,name) values(#{id},#{name})
    </insert>

    <select id="selectByPrimaryKey">
        select id,name from user2 where id = #{id}
    </select>
</mapper>